.pizza-card {
    border-radius: 10px;
}

.pizza-img {
    border-radius: 10px;
    width: 50%;
}

.button-container {
    border-radius: 10px;
}

@media (max-width: 575.98px) {
    
    .img_container{
        flex-direction: column;
        gap: 1em;        
    }
    .pizza-img {
        width: 75%;
        border: solid black 1px;
    }
}