@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0D1B2A;
    color: #E0E1DD;
}

.grid-container {
    display: grid;
    grid-template-areas: "nav" "main" "footer";
    min-height: 100vh;
}

nav {
    display: flex;
    grid-area: nav;
    justify-content: space-between;
}

nav .titulo-tienda {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .fa-tree, .fa-bars {
    font-size: 1.5em;
    margin: 1em;
}

nav .menu {
    display: none;
}

main {
    grid-area: main;
}



footer {
    grid-area: footer;
}

/* PALETA DE COLORES
0D1B2A - azul oscuro
1B263B
415A77
778DA9 - celeste
E0E1DD - blanco
*/