@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #201E43;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 100%;
    margin: 1em;
}

body h1 {
    margin: 1em;
}

body .boxConversor {
    align-items: center;
    background-color: #134B70;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    width: 400px;
    
}

body .boxConversorContent {
    align-items: center;
    background-color: #134B70;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    margin: 1em;
    width: 80%;
}

.boxConversorContent label {
    font-weight: 600;
}

.labelInputPesos {
    font-size: 1.5em;
}

.boxConversorContent .selector {
    border-radius: 8px;
    height: 40px;
    text-align: center;
    width: 100%;
}

.boxConversorContent button {
    background-color: #508C9B;
    border-radius: 8px;
    color: #EEEEEE;
    font-weight: 700;
    height: 40px;
    text-align: center;
    width: 100%;
}

.boxConversorContent .tooltip {
    display: inline-block;
    position: relative;
    width: 100%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #483AA0;
    color: #EEEEEE;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    margin-left: 3px;
    opacity: 0%;
    transition: 1s;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    /* visibility: visible; */
    opacity: 100%;
}


.boxConversorContent #resultado {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 0.5em;
}

.chart {
    padding: 1em;
    width: 80%;
}