@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Raleway, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e0b1cb;
    color: #231942;
}

body h1 {
    color: #5e548e;
    margin: 0.5em;
}

body #boxInput {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    width: 100%;
    font-weight: 500;
}

.textoUsuario {
    width: 100%;
}

.textoUsuario input {
    width: 40%;
    height: 30px;
}

.textoUsuario button {
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: #be95c4;
    border-color: #9f86c0;
    color:#231942;
}

.textoUsuario button:hover {
    cursor: pointer;
}

body #contenedorTareas {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: left;
    margin-left: 2em;
}

body #boxContador {
    font-weight: 800;
}

table {
    table-layout: fixed;
    width: 50%;
}

thead th {
    text-align: left;
}

thead th:nth-child(1) {
    width: 5%;
}

thead th:nth-child(2) {
    width: 45%;
}

thead th:nth-child(3) {
    width: 20%;
    text-align: center;
}

thead th:nth-child(4) {
    width: 20%;
    text-align: center;
}

tbody tr td:nth-child(3) {
    text-align: center;
}

tbody tr td:nth-child(4) {
    text-align: center;
}

tbody .fa-trash {
    color: #5e548e;
}

tbody .fa-trash:hover {
    color: #5e548e;
    cursor: pointer;
}

tbody input:hover {
    cursor: pointer;
}