
.navbar .nav-link {
  color: gray;
}

.navbar .nav-link.active {
  font-weight: 500;
  text-decoration: underline;
  color: black;
}

.navbar .nav-link.pending {
  font-weight: 500;
  color: rgb(234, 145, 0);
}
