* {
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
}

body .contenido {
    display: flex;
}

body .contactos {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    min-height: 100vh;
}

body .contactos img {
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

body .online {
    display: flex;
    justify-content: space-between;
    padding-right: 1.5em;
    border: solid 1px #BEC1BB;
    border-bottom: none;
}

body .iconos-online {
    display: flex;
    align-items: center;
}

body .icon {
    margin-left: 1em;
}

body .usuario-online {
    display: flex;
    margin: 0.5em;
    margin: 0;
    padding: 0.6em;
    padding-left: 2em;
}

body .usuario-online img {
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

body .datos-usuario-online {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
}

body .datos-usuario-online h5 {
    font-size: 14px;
}

body .datos-usuario-online p {
    font-size: 10px;
    color: #828485;
}

body .usuario {
    display: flex;
    margin: 0.5em;
    border: solid 1px #BEC1BB;
    border-bottom: none;
    margin: 0;
    padding: 0.6em;
    padding-left: 2em;
}

body .datos-usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
}

body .datos-usuario p {
    font-size: 14px;
}

body .datos-usuario h5 {
    font-size: 14px;
}

body .boton {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #BEC1BB;
    border-bottom: none;
}

body .boton button{
    background-color:  #A491D2;
    color: #FFF;
    padding: 1em 3em;
    border: none;
}

body .boton button:hover {
    background-color: #CDC3E6;
}

body .boton button:focus {
    background-color: #BEC1BB;
}

body .principal {
    display: flex;
    flex-direction: column;
    flex: 0 0 80%;
    justify-content: center;
    align-items: center;
    background-color: #E8EBE4;
}

body .parrafo-principal {
    max-width: 60vh;
}

body .principal p {
    text-align: center;
}

body .principal img {
    width: 30%;
}

